.container--boxes {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.box {
    max-width: 430px;
    &__content {
        padding: 25px;
        background: white;
    }
    span {
        color: #EEF1F7;
        font-family: 'Oswald', sans-serif;
    }
    a {
        text-decoration: none;
        color: #012179;
    }
}